@use '../common/variables' as *;
@use '../common/mixins' as *;
@use '../common/media' as *;

.button {
  @include flex-center(true);

  height: var(--button-small-height);
  padding-inline: 54px;
  background-image: var(--gradient-blue);
  border-radius: var(--border-radius-small);

  @include desktop {
    padding-inline: 30px;
  }

  @include hover {
    background-image: var(--gradient-pink);
    background-color: var(--color-dark-blue);
    transition-duration: inherit;

    &:active {
      background-image: none;

    }
  }

  &--white {
    color: var(--color-dark-blue);
    background-color: var(--color-white);
  }
}