@use '../common/mixins' as *;
@use '../common/media' as *;

.courses {
  --course-card-width: clamp(200px, 42vw, 660px);
  --course-card-offset: clamp(20px, 18vw, 251px);

  padding-block: 85px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  background-image: url('../../assets/images/courses-bg.svg');
  background-size: 100%;
  background-position: center;// или contain / auto в зависимости от дизайна
  background-repeat: no-repeat;
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: min(100%, var(--course-card-width));

    min-height: 400px;
    padding: 74px 53px 55px 65px;
    border-radius: var(--border-radius);
    transform: translateX(calc(var(--card-index) * var(--course-card-offset)));
    z-index: calc(10 - var(--card-index));
    cursor: pointer;
    transition: transform 0.25s ease;

    &--black {
      background: var(--color-black);
    }

    &--gray {
      background: var(--color-dark-gray);
    }
    &--white {
      background: var(--color-white);
      color: var(--color-black);
    }
    &--blue {
      background: var(--color-light-blue);
      color: var(--color-black);
    }
    &--active {
      z-index: 20;
    }
    &-description {
      margin-top: 41px;
    }
    &-link {
      margin-top: auto;
      margin-left: auto;
      width: fit-content;
      font-size: 18px;
    }
  }
  &__cards {
    position: relative;
    min-height: 360px;
    width: 100%;
    max-width: 1415px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-light-blue);
    cursor: pointer;
    transition-duration: var(--transition-duration);
    opacity: 0.5;



    &--active {
      opacity: 1;
      transform: scale(1.15);
    }
  }

  @include mobile {
    --course-card-width: clamp(240px, 88vw, 560px);
    --course-card-offset: clamp(24px, 10vw, 120px);

    &__card {
      min-height: 340px;
      padding: 40px 30px;
    }
  }
}